[submodule "rtems-source-builder"]
	path = external/rtems-source-builder
	url = https://github.com/grisp/rtems-source-builder.git
	branch = grisp2
[submodule "rtems"]
	path = external/rtems
	url = https://github.com/grisp/rtems.git
	branch = grisp2-devel-20200430
[submodule "rtems-libbsd"]
	path = external/rtems-libbsd
	url = https://github.com/grisp/rtems-libbsd.git
	branch = 5-freebsd-12
[submodule "external/libgrisp"]
	path = external/libgrisp
	url = https://github.com/grisp/libgrisp.git
	branch = master
[submodule "external/barebox"]
	path = external/barebox
	url = https://git.phytec.de/git/barebox
	branch = v2022.02.0-phy
[submodule "external/inih"]
	path = external/libinih/inih
	url = https://github.com/grisp/inih.git
[submodule "external/openocd-code"]
	path = external/openocd-code
	url = https://github.com/openocd-org/openocd.git
[submodule "external/imx_usb_loader"]
	path = external/imx_usb_loader
	url = https://github.com/boundarydevices/imx_usb_loader
[submodule "external/cryptoauthlib"]
	path = external/cryptoauthlib
	url = https://github.com/grisp/cryptoauthlib
	branch = GRiSP2
[submodule "external/lapack"]
	path = external/lapack
	url = https://github.com/Reference-LAPACK/lapack.git
