name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    timeout-minutes: 120
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macOS-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name:  Install dependencies
        shell: bash
        run:   |
          if [ "$RUNNER_OS" == "Linux" ]; then
            sudo apt-get install \
              build-essential \
              flex \
              bison \
              cmake \
              texinfo \
              device-tree-compiler \
              u-boot-tools \
              lzop \
              libusb-1.0-0-dev \
              python3 \
              python-is-python3 \
              libpython3-dev \
              python3-dev \
              python2-minimal \
              python2-dev \
              libpython2-dev
          elif [ "$RUNNER_OS" == "macOS" ]; then
            brew install python@2
            brew install dtc u-boot-tools
            brew install autoconf automake libtool pkg-config
          else
            echo "$RUNNER_OS not supported"
            exit 1
          fi
      - name: Build toolchain
        shell: bash
        run: |
          make install
          if [ "$RUNNER_OS" == "Linux" ]; then
            make barebox
          fi
      - name: Get errorinfo
        shell: bash
        if: ${{ failure() }}
        run: |
          find . -name "rsb-report-*" \
            -exec echo "________________________________________________________________________________________________________" \; \
            -exec echo '{}' \; \
            -exec echo "________________________________________________________________________________________________________" \; \
            -exec tail -500 '{}' \; \
            -exec echo \;
      - name: Build demo application
        shell: bash
        run: |
          make demo
      - name: Build OpenOCD
        shell: bash
        run: |
          make openocd
      - name: Build imx_uart
        shell: bash
        run: |
          make imx_uart
